{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}

    {% if authorized %}
        {% if gender == 'мужской' %}
            <h1>Добро пожаловать, уважаемый {{ name }}!</h1>
        {% else %}
            <h1>Добро пожаловать, уважаемая {{ name }}!</h1>
        {% endif %}
        <form action="/lab4/logout" method="post"><button type="submit">Выход</button></form>
    {% else %}
        <h1>Вход</h1>
        <form method="post">
            <div><label for="login">Логин:</label> <input type="text" id="login" name="login" value="{{ login_value }}"></div>
            <div><label for="password">Пароль:</label> <input type="password" id="password" name="password"></div>
            {% if error %}<p style="color:red; font-weight:bold;">{{ error }}</p>{% endif %}
            <div style="margin-top:10px;"><button type="submit">Войти</button> <button type="reset">Очистить</button></div>
        </form>
    {% endif %}
    
{% endblock %}
