{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
<h1>Изменение имени и пароля</h1>

{% if error %}
    <p style="color:red; font-weight:bold;">{{ error }}</p>
{% endif %}

<form method="post">
    <div>
        <label>
            Новое имя:
            <input type="text" name="real_name" value="{{ real_name }}">
        </label>
    </div>

    <div>
        <label>
            Новый пароль:
            <input type="password" name="password">
        </label>
    </div>

    <div>
        <label>
            Подтверждение пароля:
            <input type="password" name="password_confirm">
        </label>
    </div>

    <p style="font-size: 13px; color: gray;">
        Если поля нового пароля оставить пустыми, изменится только имя.
    </p>

    <button type="submit">Сохранить</button>
    <a href="/lab5" style="margin-left:10px;">Отмена</a>
</form>

<p style="margin-top:20px;">
    <a href="/lab5"
       style="text-decoration:none;
              color:blue;
              font-weight:bold;">
        ← На главную
    </a>
</p>


{% endblock %}
