<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>НГТУ, ФБ, Лабораторные работы</title>
</head>
<body>

    <header>
        <h1>НГТУ, ФБ, WEB-программирование, часть 2. Список лабораторных</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/lab1/">Первая лабораторная</a></li>
            <li><a href="/lab2/">Вторая лабораторная</a></li>
            <li><a href="/lab3/">Третья лабораторная</a></li>
            <li><a href="/lab4/">Четвёртая лабораторная</a></li>
            <li><a href="/lab5/">Пятая лабораторная</a></li>
        </ul>
    </nav>

    <footer>
        <p>{{ name }}, {{ group }}, {{ course }}, {{ year }}</p>
    </footer>
</body>
</html>
