{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
<div class="lab8-container">

    <h1>{% block lab8_title %}{% endblock %}</h1>

    <div class="lab8-menu">
        <div class="lab8-menu-left">
            <a href="/lab8/" class="lab8-menu-btn primary">Главная</a>
            <a href="/lab8/public" class="lab8-menu-btn">Публичные статьи</a>
            <a href="/lab8/search" class="lab8-menu-btn success">Поиск</a>

            {% if current_user.is_authenticated %}
                <a href="/lab8/articles" class="lab8-menu-btn">Мои статьи</a>
                <a href="/lab8/create" class="lab8-menu-btn success">Создать</a>
            {% endif %}
        </div>

        {% if current_user.is_authenticated %}
        <div class="lab8-user-info">
            <span class="lab8-user-name">Пользователь: {{ current_user.login }}</span>
            <a href="/lab8/logout" class="lab8-menu-btn danger">Выйти</a>
        </div>
        {% else %}
        <div class="lab8-user-info">
            <a href="/lab8/login" class="lab8-menu-btn">Войти</a>
            <a href="/lab8/register" class="lab8-menu-btn primary">Регистрация</a>
        </div>
        {% endif %}
    </div>

    <div class="lab8-content">
        {% block lab8_content %}{% endblock %}
    </div>

</div>
{% endblock %}
